

.home h1{
    color: darkcyan;
}

.home .img-1{
    height: 400px;
    width: 400px;
    margin-top: 30px;
}
.home{
    background-color: azure;
}

.home .home-main{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}