.main-form{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
    
   
    

}
.pay-other{
    align-self: center;
    margin-left: 100px;
}

.payment-form{
    border: 1px solid;
    background-color: lightgrey;
}